/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

img {
    max-width: 100%;
    height: auto;
}

div.container {
    background-color: aliceblue;
    padding-bottom: 0% !important;
    border-radius: 25px;
}

div.footer {
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container {
    padding: 10px;
}